.nav-btn {
  position: absolute;
  top: 40%;
}
.image-wrapper {
  touch-action: pan-y;
  user-select: none;

  img {
    width: 100%;
    height: auto;
    pointer-events: none;
  }
}
.product-image-viewer {
  background-color: black;
}
